@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #60a9ff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-transform: uppercase;
}

/* Panel Style */
.panel {
  background: #fff;
  width: 1100px;
  padding: 50px;
  margin: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Text Style */
img {
  width: 220px;
}

h3 {
  color: #888888;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0 30px 0px;
}

h2 {
  color: #846ff9;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px #d8e8f7 solid;
  padding: 15px;
  max-width: 220px;
}

h2:nth-of-type(1) {
  border-top: 1px #d8e8f7 solid;
}

h1 {
  font-size: 30px;
  color: #016ff9;
  padding: 15px;
}

.btn {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #fff;
  background: #48aaff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #269aff;
}

.btn-transparent {
  background: transparent;
  color: #348efe;
}

.btn-transparent:hover {
  background: #e1f1ff;
}

div {
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 873px) {
  body {
    background: #fff;
  }

  .panel {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .panel div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    border: 2px #d8e8f7 solid;
    padding: 50px;
  }

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
  }
}
